# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Models and logs
models/
logs/

# OS files
.DS_Store
Thumbs.db
